{
  "HelloWorldFunction": {
    "POWERTOOLS_SERVICE_NAME": "PowertoolsHelloWorld",
    "POWERTOOLS_METRICS_NAMESPACE": "Powertools",
    "LOG_LEVEL": "DEBUG",
    "ENVIRONMENT": "dev",
    "API_KEY": "local-dev-api-key",
    "S3_BUCKET_NAME": "my-local-bucket",
    "DYNAMODB_TABLE_NAME": "my-local-table",
    "FROM_EMAIL": "your-verified-email@example.com",
    "ADMIN_EMAIL": "admin@example.com"
  }
}
