{
  "HelloWorldFunction": {
    "POWERTOOLS_SERVICE_NAME": "PowertoolsHelloWorld",
    "POWERTOOLS_METRICS_NAMESPACE": "Powertools",
    "LOG_LEVEL": "DEBUG",
    "API_KEY": "your-api-key-here",
    "DATABASE_URL": "your-database-url",
    "CUSTOM_ENV_VAR": "custom-value"
  }
}
